n8n-telegram-workflow.json
{
  "name": "Finanzas Bot Telegram (Gemini)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "finanzas-bot",
      "credentials": { "telegramApi": { "id": "TU_CREDENTIAL_ID", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "systemInstruction": {
            "parts": [
              {
                "text": "Eres un asistente que extrae información financiera de mensajes en español. Responde SOLO con JSON válido, sin texto adicional ni bloques de código.\n\nFormato de respuesta:\n{\n  \"type\": \"gasto\" | \"ingreso\" | \"ahorro\" | \"inversion\",\n  \"amount\": number,\n  \"category\": string,\n  \"description\": string,\n  \"date\": \"YYYY-MM-DD\"\n}\n\nCategorías para gasto: Comida y bebida, Supermercado, Restaurante / Delivery, Transporte, Gasolina, Vivienda / Alquiler, Servicios básicos, Salud y farmacia, Educación, Entretenimiento, Ropa y calzado, Tecnología, Viajes, Deporte, Cuidado personal, Mascotas, Regalos, Suscripciones, Otro gasto.\nCategorías para ingreso: Salario, Freelance, Negocio, Inversión, Bono, Regalo, Otro ingreso.\nCategorías para ahorro: Fondo de emergencia, Meta corto plazo, Meta largo plazo, Otro ahorro.\nCategorías para inversion: Acciones, Criptomonedas, Fondos mutuos, Negocio, Bienes raíces, Otra inversión.\n\nSi no puedes extraer la información, responde: {\"error\": \"no_entendido\"}\nUsa la fecha de hoy si no se especifica fecha."
              }
            ]
          },
          "contents": [
            {
              "role": "user",
              "parts": [{ "text": "={{ $json.message.text }}" }]
            }
          ],
          "generationConfig": {
            "responseMimeType": "application/json",
            "temperature": 0.1
          }
        },
        "options": {}
      },
      "id": "gemini-extract",
      "name": "Gemini - Extraer gasto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.candidates[0].content.parts[0].text;\nlet body;\ntry {\n  body = JSON.parse(text);\n} catch {\n  throw new Error('Gemini no devolvió JSON válido: ' + text);\n}\nif (body.error) throw new Error('No entendido');\n\nconst today = new Date().toISOString().split('T')[0];\nconst transaction = {\n  id: Date.now().toString(36) + Math.random().toString(36).slice(2,7),\n  type: body.type,\n  category: body.category,\n  amount: parseFloat(body.amount),\n  description: body.description || '',\n  date: body.date || today,\n  createdAt: new Date().toISOString(),\n  source: 'telegram'\n};\nreturn [{ json: transaction }];"
      },
      "id": "parse-transaction",
      "name": "Parsear transacción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/IvanaBerrocal/mis-finanzas/contents/data/transactions.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "github-get",
      "name": "GitHub - Leer transactions.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const fileData = $('GitHub - Leer transactions.json').first().json;\nconst newTransaction = $('Parsear transacción').first().json;\n\nconst decoded = Buffer.from(fileData.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\nconst transactions = JSON.parse(decoded);\ntransactions.unshift(newTransaction);\n\nconst encoded = Buffer.from(JSON.stringify(transactions, null, 2)).toString('base64');\nreturn [{ json: { content: encoded, sha: fileData.sha, transaction: newTransaction } }];"
      },
      "id": "build-update",
      "name": "Agregar transacción",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/IvanaBerrocal/mis-finanzas/contents/data/transactions.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "message": "=Telegram: {{ $json.transaction.category }} S/ {{ $json.transaction.amount }}",
          "content": "={{ $json.content }}",
          "sha": "={{ $json.sha }}"
        },
        "options": {}
      },
      "id": "github-put",
      "name": "GitHub - Guardar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=✅ *Registrado en tu panel*\n\n📁 {{ $('Parsear transacción').first().json.category }}\n💰 S/ {{ $('Parsear transacción').first().json.amount }}\n📅 {{ $('Parsear transacción').first().json.date }}\n📝 {{ $('Parsear transacción').first().json.description || 'Sin descripción' }}\n\n👉 Ver panel: https://ivanaberrocal.github.io/mis-finanzas/",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-reply-ok",
      "name": "Telegram - Confirmar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1560, 300],
      "credentials": { "telegramApi": { "id": "TU_CREDENTIAL_ID", "name": "Telegram Bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "❌ No entendí ese mensaje. Intenta con algo como:\n\n• \"gasté 45 soles en almuerzo\"\n• \"pagué 200 de luz\"\n• \"recibí mi salario 3500\"\n• \"ahorré 500 para emergencias\"",
        "additionalFields": {}
      },
      "id": "telegram-reply-error",
      "name": "Telegram - Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [700, 500],
      "credentials": { "telegramApi": { "id": "TU_CREDENTIAL_ID", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Gemini - Extraer gasto", "type": "main", "index": 0 }]] },
    "Gemini - Extraer gasto": { "main": [[{ "node": "Parsear transacción", "type": "main", "index": 0 }]] },
    "Parsear transacción": { "main": [[{ "node": "GitHub - Leer transactions.json", "type": "main", "index": 0 }]] },
    "GitHub - Leer transactions.json": { "main": [[{ "node": "Agregar transacción", "type": "main", "index": 0 }]] },
    "Agregar transacción": { "main": [[{ "node": "GitHub - Guardar", "type": "main", "index": 0 }]] },
    "GitHub - Guardar": { "main": [[{ "node": "Telegram - Confirmar", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "_instrucciones": {
    "paso1": "En n8n: Settings > Variables de entorno > agrega GEMINI_API_KEY y GITHUB_TOKEN",
    "paso2": "Crea credencial 'Telegram Bot' con tu token de BotFather",
    "paso3": "Importa este archivo en n8n (Settings > Import workflow)",
    "paso4": "Conecta las credenciales de Telegram en los nodos 'Telegram Trigger' y los nodos de respuesta",
    "paso5": "Activa el workflow"
  }
}
